@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.WarehouseDetails--layout{
    display: flex;
    justify-content: center;
    position: relative;
    top: -4rem;
    left:0;
    right:0;
    @include tablet{
        top: -5.75rem;   
    }
}
.background{
     background-color: $background-second;
}

