@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.list{
    width: 100%;
    margin: 0 1rem;
    @include tablet{
        margin: 0 2rem;
    }
    @include desktop{
        margin: 0 3.9375rem;
    }
}