$tablet-width: 768px;
$desktop-width: 1280px;

$primary-first: #13183C;
$primary-second: #2E66E5;
$primary-third: #FFFFFF;

$secondary-first: #5C667E;
$secondary-second: #BDC5D5; 

$background-first: #232940;
$background-second: #f7f8f9;

$supporting-first: #158463;
$supporting-second: #c94515;