@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.warehouse {
  padding: 0.5rem 1.5rem 1rem 1rem;
  border-top: 0.063rem solid $secondary-second;
  &__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__description,
  &__name,
  &__address,
  &__contact {
    &-container {
      padding: 0.5rem 0;
      width: 50%;
      :first-child {
        text-transform: uppercase;
      }
    }
    &-title {
      text-transform: capitalize;
      color: $secondary-first;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
    }
    &-info {
      padding-top: 0.25rem;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }
  }
  &__link {
    margin: 0;
    padding: 0;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
