@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.inventory {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 0.063rem solid $secondary-second;
  @include tablet {
    border: none;
    border-bottom: 0.063rem solid $secondary-second;
  }
  &__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1rem;
    @include tablet {
      flex-wrap: nowrap;
      padding: 0 1.5rem;
    }
  }
  &__container {
    padding: 0.5rem 0;
    width: 50%;
    @include tablet {
      display: flex;
      align-items: center;
      width: 20%;
    }
    &:nth-child(2) {
      order: 2;
      @include tablet {
        order: 3;
      }
    }
    &:nth-child(3) {
      order: 3;
      @include tablet {
        order: 2;
      }
    }
    &:nth-child(4) {
      order: 4;
      @include tablet {
        width: 10%;
      }
    }
    &:nth-child(5) {
      order: 5;
    }
    &:nth-child(6) {
      order: 6;
      @include tablet {
        width: 30%;
      }
    }
    &:nth-child(7) {
      order: 6;
      display: flex;
      padding: 0.5rem 0;
      width: 100%;
      @include tablet {
        justify-content: none;
        align-items: center;
        gap: 1rem;
        width: 20%;
      }
    }
  }
  &__container--empty {
    padding: 0.5rem 0;
    width: 50%;
    order: 5;
    @include tablet {
      display: none;
    }
  }
  &__title {
    text-transform: uppercase;
    color: $secondary-first;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 0.688rem;
    line-height: 1rem;
    @include tablet {
      display: none;
    }
  }
  &__info {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding-top: 1rem;
    @include tablet {
      vertical-align: middle;
      padding: 0;
    }
  }
  &__info--modifier {
    padding: 0;
  }
  &__second-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  &__item {
    position: relative;
    display: inline;
    list-style-type: none;
    width: 50%;
  }
  &__status {
    text-transform: uppercase;
    border-radius: 1.25rem;
    padding: 0.25rem 0.5rem;
    margin-top: 1rem;
    @include tablet {
      margin: 0;
    }
    &--instock {
      color: $supporting-first;
      background: rgba(21, 132, 99, 0.07);
    }
    &--out-of-stock {
      color: $supporting-second;
      background: rgba(201, 69, 21, 0.07);
    }
  }
  &__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    &:active,
    &:visited {
      color: $primary-second;
    }
  }
  &__link--modifier {
    position: absolute;
    right: 0;
    @include tablet {
      position: relative;
    }
  }
  &__edit-button {
    margin: 0 auto;
    fill: $primary-second;
  }
}
